<div class="container-fluid bg-secondary m-0" style="height : 100vh">
    <div class="row justify-content-center">
        <div class="mt-5"></div>
        <div class="col-4 bg-light">
        <div class="col-md-12">
        <div class="titlepage">
        <h4 class="text-black">Contacto</h4> 

 <ul>
    <li>
        Teléfonos: 4360-7586
    </li>
     <li>
        Horarios de Atención: Lunes a Sábados de 10 a 19
    </li>
    <li>
        Mail: bsaspets@gmail.com
    </li>
    <li>
        Direccion: Malabia 1614
    </li>
 <li>
  <a href= "https://goo.gl/maps/dewJwy8nNZ4iTfsB7">Como llegar</a>
</li>
</ul>  
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.537883570246!2d-58.42920818477064!3d-34.59055778046293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58787f6813f%3A0x75493e2c79142d67!2sMalabia%201614%2C%20C1414DMH%20CABA!5e0!3m2!1ses-419!2sar!4v1627047098915!5m2!1ses-419!2sar" width="550" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
         
</div>
</div>
</div>
</div>
</div>
</div>
</div>