<div class="container-fluid bg-secondary m-0" style="height : 100vh">
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-6 text-light">
            <form method="post" action="/admin/categoria/create">
                <div class="form-group">
                    <label for="nombre">Nombre de la nueva categoría<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="nombre" id="nombre">
                </div>
                 <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success mt-3">Agregar categoria</button>
                </div>
            </form>
        </div>

    </div>
</div>