<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-warning text-center"> ERROR 404: ESTA DIRECCION ES INEXISTENTE</h1>
        </div>
        <div class="col-12 justify-content-center">
            <img src="images/404.jpg" class="mt-2" style="width:100%; height:50vh">
        </div>
        <div class="col-4 d-grid">
            <a href="/" class="btn btn-warning mt-4">Volver a home</a>
            <a href="/login" class="btn btn-warning mt-4">Iniciar sesion</a>
</div>
</div>
</div>
