
<div class="container" style="height : 80vh">
    <a class="d-grid gap-2 d-md-flex justify-content-md-end btn btn-outline-warning mt-4 mb-4" href="/admin/productos" role="button">Administradores</a>
    <a class="d-grid gap-2 d-md-flex justify-content-md-end btn btn-outline-light mt-4 mb-4" href="/productos" role="button">Clientes</a>
<div class="text-center" style="height : 110vh">
    <img src="images/mascotas.jpg" class="img-fluid" >
</div>
</div>